.image-background{
    background-image: url("https://th-i.thgim.com/public/incoming/28c5k9/article67578768.ece/alternates/FREE_1200/Welcome%20to%20Paradise%20HR.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}